* {
	padding: 0px;
	margin: 0px;
	color: #37474F;
	font-family: 'Sunflower', sans-serif;
}
body {
	background-color: #f2f2f2;
}
.nav-links-top {
	position: fixed;
	top: 0px;
	z-index: 1;
	font-size: 20px;
}
.nav-links-top a {
	font-size: 20px;
	color: #37474F;
}
.nav-links-top a:hover {
	color: #757575;
}

.title {
	margin-top: 130px;
	text-align: center;
	color: #fff;
	font-family: 'Satisfy', cursive;
}
.social1 {
	border-radius: 50%;
    padding: 13px 15px;
    color: #fff !important;
    text-align: center;
    background: #e0e0e0;
    margin-right: 10px;
    font-size: 15px;
}
.bg-img {
	margin-top: 100px;
	height: 250px;
}
@media (max-width: 600px) {
	.box {
		margin: 10px 5px;
		padding: 10px;
	}
	.box .post {
		margin-top: -15px;
	}
}
@media (max-width: 900px) {
	.box {
		padding-top: 40px;
	}
}

.post-title {
	font-weight: bold;
}
.post-writing {
	font-family: 'Courgette', cursive;
}
.post-writing a {
	font-family: 'Courgette', cursive;
}
.post-section {
	margin-top: 150px;
	margin-bottom: 150px;
}
.post-outer {
	background: #fff;
	padding: 40px;
	margin-bottom: 15px;
	font-family: 'Courgette', cursive;
}
@media(min-width: 1000px) {
	.long-story {
		max-width: 90% !important;
	}
}

/*----------POEMS----------*/
.section-title {
	font-family: 'Satisfy', cursive;
}
.left-content {
	margin-top: 150px;
}
.right-content {
	margin-top: 150px;
}
.quote {
	margin-top: 150px;
	margin-bottom: 150px;
	padding: 10px;
}

@media (max-width: 770px) {
	.poem {
		max-width: 50%;
	}
}


/*----------GOODREADS----------*/

	.gr_custom_container_1528303320 {
	/* customize your Goodreads widget container here*/
	border: 1px solid #e0e0e0;
	border-radius:10px;
	padding: 10px 5px 10px 5px;
	background-color: #fafafa;
	color: #e0e0e0;
	width: 230px;
	float: right;
	}
	.gr_custom_header_1528303320 {
	/* customize your Goodreads header here*/
	border-bottom: 1px solid #bdbdbd;
	width: 100%;
	margin-bottom: 5px;
	text-align: center;
	font-size: 120%;
	}
	.gr_custom_header_1528303320 a {
		color: #bdbdbd;
	}
	.gr_custom_each_container_1528303320 {
	/* customize each individual book container here */
	width: 100%;
	clear: both;
	margin-bottom: 10px;
	overflow: auto;
	padding-bottom: 4px;
	border-bottom: 1px solid #bdbdbd;
	}
	.gr_custom_each_container_1528303320 a {
		color: #9e9e9e;
		}
	.gr_custom_book_container_1528303320 {
	/* customize your book covers here */
	overflow: hidden;
	height: 60px;
	  float: left;
	  margin-right: 4px;
	  width: 39px;
	}
	.gr_custom_author_1528303320 {
	/* customize your author names here */
	font-size: 10px;
	}
	.gr_custom_tags_1528303320 {
	/* customize your tags here */
	font-size: 10px;
	color: gray;
	}
	.gr_custom_rating_1528303320 {
	/* customize your rating stars here */
	float: right;
	}
/*----------GOODREADS END----------*/
.about {
	margin-top: 100px;
	margin-bottom: 150px;
	padding: 20px;
}
.about-me {
	font-family: 'Satisfy', cursive;
}


/*----------BOTTOM----------*/
.pre-foot {
	margin: 150px 0px;
}

.list-head {
	margin-bottom: 50px;
	font-weight: bold;
	font-family: 'Satisfy', cursive;
}
.pre-foot ul {
  list-style-type: none;
  padding: 0px 20px;
}
.pre-foot ul li {
	padding: 5px 0px;
}
footer {
	background: #78909c;
}
.social3-gradient {
    border-radius: 50%;
    padding: 13px 20px;
    color: #fff !important;
    text-align: center;
    background: #bdbdbd;
    margin-right: 15px;
    font-size: 20px;
} 